### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

#### Compiled files ###
dist

#### Log files ###
yarn-error.log
npm-debug.log*

### Dependencies ###
node_modules

### NetBeans ###
nbproject/private/
build/
nbbuild/
nbdist/
.nb-gradle/
