.title {
  font-size: 28px;
  text-align: center;
  padding: 25px 0px;
}
.form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.container{
  width: 30vw;
  padding: 7px 5px;
  margin: 0 15px;
}
.registration {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
