div(class="{{::$ctrl.styles.container}}")
  span Выберете радиус(метры)
  md-slider.md-primary(flex='', md-discrete='', ng-model='$ctrl.radius', step='500', min='500', max='5000', aria-label='rating')
  span.title Выберите интересующие вас категории:
  span Парки
  md-slider.md-primary(flex='', md-discrete='', ng-model='$ctrl.estimateParams.parks', step='1', min='0', max='5', aria-label='rating')
  span Торговые центры
  md-slider.md-primary(flex='', md-discrete='', ng-model='$ctrl.estimateParams.malls', step='1', min='0', max='5', aria-label='rating')
  span Школы
  md-slider.md-primary(flex='', md-discrete='', ng-model='$ctrl.estimateParams.schools', step='1', min='0', max='5', aria-label='rating')
  span Спорткомплексы
  md-slider.md-primary(flex='', md-discrete='', ng-model='$ctrl.estimateParams.sportCenters', step='1', min='0', max='5', aria-label='rating')
  span Досуговые центры
  md-slider.md-primary(flex='', md-discrete='', ng-model='$ctrl.estimateParams.rest', step='1', min='0', max='5', aria-label='rating')
  span Больницы
  md-slider.md-primary(flex='', md-discrete='', ng-model='$ctrl.estimateParams.hospitals', step='1', min='0', max='5', aria-label='rating')
  span Детские сады
  md-slider.md-primary(flex='', md-discrete='', ng-model='$ctrl.estimateParams.kindergarten', step='1', min='0', max='5', aria-label='rating')
  md-button.md-raised.md-primary(ng-click='$ctrl.select()') Выбрать!
